
h1 {
  color: pink;
  text-align: center;
  font-family:verdana;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

h2 {
  color: purple;
  text-align: center;
  font-family: verdana;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

P {
  color: purple;
  text-align: center;
  font-family: verdana;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
  
}

body {
      background-image: url("https://wallpaperaccess.com/full/6562909.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

label{
  color: purple;
  text-align: center;
  font-family: verdana;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

input{
  color: purple;
  text-align: center;
  font-family: verdana;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

select{
  color: purple;
  text-align: center;
  font-family: verdana;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

form{  
  text-align: center;
}

table{  
  text-align: center;
  background-color:white;
  box-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
